body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    line-height: 1.0em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
h1, h2, h3 {
    margin-top: 5px; /* Reduce space below headings */
    margin-bottom: 5px;
}



ul.post { 
    margin: 5px auto 5px; 
    font-size: 1.5em;
}

ul.post li {
    list-style: none;
}

.recent-posts {
    list-style: none; /* Remove bullets */
    padding: 0;
}

.recent-posts li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    /* padding-bottom: 10px; */
}

.recent-posts a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0073e6;
}

.recent-posts a:hover {
    color: #005bb5;
}

.recent-posts p {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.post {
    line-height: 1.2; /* Increase for more spacing (default is usually 1.2 or 1.4) */
    margin-bottom: 5px; /* Add space after paragraphs */
}

.post h1, .post h2, .post h3 {
    margin-bottom: 5px; /* Reduce space below headings */
}
